In [26]:
from google.oauth2 import service_account
from shillelagh.backends.apsw.db import connect
from shillelagh.backends.apsw.dialects.gsheets import APSWGSheetsDialect
import toml
import pandas as pd

In [11]:
secrets = (toml.load("../.streamlit/secrets.toml"))

In [14]:
private_g_sheet_url = secrets["private_g_sheet_url"]

In [42]:
import streamlit as st

In [43]:
labels = ['Credit Card Payment', 'Equity', 'Crypto', 'Savings', 'Phone',
       'Household Expenses', 'Pet', 'General Expenses', 'Fuel', 'Retail',
       'Online Shopping', 'Streaming', 'Flight', 'Hotel', 'Local travel',
       'Restaurants', 'Work Expenses', 'Online News', 'Uber',
       'ATM Withdrawal']
labels.sort()

In [35]:
secrets['gcp_service_account']dd

{'type': 'service_account',
 'project_id': 'mojek-expense-tracker',
 'private_key_id': 'dfba5ae490833b830f3fb06691cc3bc4ce30ed58',
 'private_key': '-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDfzJnU4T0h6+zM\nBZTOq89X/xUpDleR3CXU9pVZSf9CKu+FukxuntefRCnp8xBGxqo9ZsFh8yXUW4bh\nc/UaeRtuQruyUNU3ZvzOjUGUVIGnOPt/oRrYMLs+m5jbFWpafSxUzCZ4aI9ZH/sz\nybv065CpPudEHHKLutI/3Habic/S89LF8vC/D73q7KN2uIyL+SidjayeWPjtQR4m\ntPtoYFp2iclk0Wr683SQSLVqD7MyQjEoVWGzvvX3nrlsV3UJvhDWgjtDA5uBQCJp\nVTHyghYPNlU5Znbnmn5ExbkMo0/xScb5fNMkbT+91YRV/S/OZRFbTccxGF/Qb4vk\nBtFEM3mzAgMBAAECggEATqThcfNsvhzf65oSfsXVaQDUeMb3cuQ/zySPuv7L2n6o\nCQA8l6rt7qPPbszhbV2muUkAr+D37DX1oghTm2fvgcGln7XUF1HziMoOv4cqwI6/\nokwE2O/W/NtEzcgqxX2zNGFBK5LivNkGN16u1BRrk23tavvsLLoL5DEe5O16wJAR\nr9mIakjDcR/Z1Aw2MF1cYA9HSWQl1buPZCQphYkHXdiljJAX5KhMx23ydzGRoZED\nLlBpSuU5IPqzM/u/7WYsw6rv5OoRlg1C3SVb/sTHNhQtiG8xfR15CrYfQwsm6pVE\nHuI4tJRauS0Up4oJar0XaZm7aG6mUbBcNJ7L9rbRMQKBgQD3wAExFkEGpAulTUhQ\nPaAJF+IZm/u5pqhFAXiAUXtyN6oFgNKfBL48e5TywmnO9uvuhvR0HFaDxstiWyAQ\nfgHOWsPS/rjpo5AVVHYWqQZ4+4k5WU8+JeEXg8rdiaruB3/vbzmkEjavjxW59ccA\ns6uf0KU4oRzCLU/Sde4z2XaJ/QKBgQDnQGw+S08ya6LSaSHdl4Sqyf4bMblzi1KP\nj6/6qMYKEqHsQA+7esY+a4JzhNrRAsWchXW90qZzUoI8eGf4a2MKmB1uYdad2x8i\nMoENlz3JduGxC147LTRi59m7dmeWNJ5wAS1KQHdEBX0vi9Kp3DPlHhCztcbDI3uy\n4gvkTC7JbwKBgFGb+ciFoB3j48Ir1uo3ooPcTipJa34YG82/UkZSkOtq0qLFcJvZ\nICEkREhDKj92rvj/k3675vO5hD197u3/0/B5jY/vQFIWAtxD2jJUs0Ee+nDdrnC2\nYZMxYp3fP2LxLX9dkAsvxLvH0kxTXZ4pkRsvy3z/9U0xR9334uNJevaxAoGAQYhU\nJGMbEmLGRXJdkno5slyDkhlJQKEeyGgjqpjhZkFZeaW9z5c/TrkQwsPHbqumbHC1\nqRFk8hFTrudAL3nfG0V4MauwMhPCguJlCADwFYOG+bELByIMUmr5nNI1EK/gpkTv\nHLegFLqpeyvYiyJH4onemc7NgMcxasP8MroUGCkCgYEAwmdJ94eN9NA9J2PXaiTf\nM7EYZgigCUy2DfQX7XVviTnFjQ4QKnozjp0dlIjdtruS1SKKvZxA9onGZWQLTdbd\nKIEE32+eG3RWiGkPBtYimmgSbY7X/A3JJOr3vTmRcohe4ulgg2fzmZ2BwZffSEV5\nMvtaZgUJgqDIzQFkckPf410=\n-----END PRIVATE KEY-----\n',
 'client_email': 'mojek-123@mojek-expense-tracker.iam.gserviceaccount.com',
 'client_id': '112304904405711450656',
 'auth_uri': 'https://accounts.google.com/o/oauth2/auth',
 'token_uri': 'https://oauth2.googleapis.com/token',
 'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs',
 'client_x509_cert_url': 'https://www.googleapis.com/robot/v1/metadata/x509/mojek-123%40mojek-expense-tracker.iam.gserviceaccount.com'}

In [ ]:
edit#gid=1648320094

In [36]:
conn = connect(":memory:", adapter_kwargs={"gsheetsapi": {"service_account_info": secrets['gcp_service_account']}})

Couldn't load adapter datasetteapi
Couldn't load adapter githubapi
Couldn't load adapter socrataapi
Couldn't load adapter weatherapi

In [37]:
cursor = conn.cursor()

In [23]:
from sqlalchemy.engine import create_engine
engine = create_engine("gsheets://")

In [20]:
user_name = "mv"
user_age = 30
user_occupation = "data scientist"
narration = 'sabai sabai'
keyword = narration
label = 'Restaurants'

In [38]:
query = f"""INSERT INTO '{private_g_sheet_url}' (user_name, user_age, user_occupation, narration, keyword, label)
VALUES ('{user_name}', '{user_age}', '{user_occupation}', '{narration}', '{keyword}','{label}')
"""
cursor.execute(query)
conn.commit()

In [19]:
pd.read_sql(query, conn)

  user_name  user_age user_occupation    narration      keyword        label
0        mv      30.0  data scientist  sabai sabai  sabai sabai  Restaurants